@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:100";
@import "https://fonts.googleapis.com/css?family=Roboto:200";
@import "https://fonts.googleapis.com/css?family=Roboto:300";

* {
    font-family: Roboto;
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;

    color: #FFFFFF;
    margin-bottom: 10px;

    font-weight: 100;
}

::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

.page {
    display: none;
}

.active {
    display: block;
}

.body-start {
    background-image: url(/static/images/site/back_login_register.png);
    background-color: #C0C0C0;
    background-size: cover;
    background-attachment: fixed;
}

.body-profile {
    background-image: url(/static/images/site/back_profile.png);
    background-color: #C0C0C0;
    background-size: cover;
    background-attachment: fixed;
}

.body-bonuses {
    background-image: url(/static/images/site/back_bonuses.png);
    background-color: #C0C0C0;
    background-size: cover;
    background-attachment: fixed;
}

.body-list-purchases {
    background-image: url(/static/images/site/back_list_purcheses.png);
    background-color: #C0C0C0;
    background-size: cover;
    background-attachment: fixed;
}

.body-shedule {
    background-image: url(/static/images/site/back_shedule.png);
    background-color: #C0C0C0;
    background-size: cover;
    background-attachment: fixed;
}

.header-login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    
    top: 0;

    width: 200px; 
    height: 80px;

    left: 200px;
   
    background-color: #F03226;
    
    border-radius: 0 0 4px 4px;
}

.footer {
    position: absolute;

    width: 300px;

    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;

    color: #FFFFFF;

    font-weight: 300;
}

.logo-text {
    font-size: 14pt;
    
    color: #FFFFFF;
}

.logo-img {
    height: 40px; 
    padding: 5px;
}

.form-login-register {
    position: absolute;

    width: 300px;
    height: 300px;
    
    left:0;
	right:0;
	top:0;
    bottom:0;
    
    margin:auto;
}

.input-login {
    width: 300px;
    height: 30px;

    margin-top: 10px;
    margin-bottom: 5px;

    color: #FFFFFF;
    background-color: transparent;
    
    border-color: #C0C0C0;

    border-radius: 4px 4px 4px 4px;
    border-width: 2px;
    
    font-size: 12pt;
}

.input-login::placeholder {
    color: #C0C0C0;
    font-size: 12pt;
}

.button-login-register {
    width: 120px;
    height: 40px;

    margin-top: 10px;

    background-color: #F03226;
    color: #FFFFFF;

    border: none;
    border-radius: 4px 4px 4px 4px;

    box-shadow: 0px 10px 20px rgba(255,0,0, .2);
}

.button-login-register:hover:active {
    background-color: #780000;
}

.button-login-register:hover {
    background-color: #C20000;
}

.link-remind {
    display: inline-block;

    color: #FFFFFF;

    font-weight: 300;
    text-decoration: none;
}

.nav-link-bar {
    display: flex;
    flex-wrap: wrap;

    height: 40px;
    font-weight: 300;
}

.nav-link {
    display: flex;
    align-items: center;

    margin-right: 10px;

    padding-left: 10px;
    padding-right: 10px;

    order: 1;
    color: #FFFFFF;

    border-radius: 4px 4px 4px 4px;

    text-decoration: none;
}

.nav-link-active {
    background-color: rgba(192, 192, 192, 0.3);
}

.header {
    display: flex;
    align-items: center;
    position: fixed;

    z-index: 2;
    
    top: 0;

    width: 100%;
    height: 90px;

    background: rgba(0, 0, 0, 0.82);
}

.logo-img-red {
    height: 40px; 
    padding-right: 10px;

    margin-left: 200px;
}


.logo-text-red {
    font-size: 14pt;

    color: #F03226;
}

.nav-panel {
    color: #FFFFFF;

    text-decoration: none;
    margin-left: 30px;
}

.nav-panel:hover {
    border-bottom: 2px solid #FFFFFF;
}


.nav-admin {
    margin-left: 30px;
    margin-right: 30px;
}

.nav-profile {
    margin-left: auto;
    margin-right: 200px;
}

.back-profile-top {
    display: flex;
    flex-wrap: wrap;

    position: fixed;
    align-items: center;

    z-index: -1;

    height: 125px;
    
    top: 225px;
    left: 0;
    right: 0;
    
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
}

.back-profile-bottom {
    position: fixed;

    z-index: -1;

    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.50);
}

.img-profile {
    height: 300px;
    width: 300px;

    margin-left: 200px;
    margin-top: 180px;
    border-radius: 20px 20px 20px 20px;

    overflow: hidden;
}

.img-profile img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.profile-info-container {
    margin-left: 600px; 
}

.profile-main-info {
    display: grid;

    width: 400px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
}

.profile-bonus-info {
    display: grid;

    justify-items: center;

    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.profile-bonus-container {
    margin-left: auto;
    margin-right: 200px; 
}

.profile-fullname {
    font-size: 16pt;

    margin-right: 10px;
    font-weight: bold;
}

.profile-contact {
    font-size: 12pt;
    font-weight: 300;
    margin-top: 10px;
}

.profile-bonus {
    font-size: 16pt;
}

.profile-bonus-count {
    color: #F03226;
    font-size: 16pt;
}

.profile-additional-info {
    display: block;

    color: #FFFFFF;

    margin-top: 15px;

    font-size: 14pt;
    font-weight: 500;
}

.profile-additional-info-value {
    color: #FFFFFF;

    margin-left: 10px;

    font-size: 14pt;
    font-weight: 300;
}

.profile-button-container {
    display: flex;
    position: absolute;
    align-content: center;
    justify-content: right;
    
    width: 420px;

    top: 550px;
    left: auto;
    right: 200px;   
}

.input-edit-photo {
    width: 120px;
    height: 40px;

    text-align: center;

    margin-top: 10px;

    color: #FFFFFF;
    background-color: #00B4CD;

    border: none;
    border-radius: 4px 4px 4px 4px;
}

.input-edit-photo:active {
    background-color: #015C75;
}

.button-edit-profile {
    width: 120px;
    height: 40px;

    margin-top: 10px;
    margin-right: 20px;

    background-color: #00B4CD;
    color: #FFFFFF;

    border: none;
    border-radius: 4px 4px 4px 4px;

    box-shadow: 0px 10px 20px rgba(0, 180, 205, .2);
}

.button-edit-profile:hover:active {
    background-color: #015C75;
}

.button-edit-profile:hover {
    background-color: #007A9C;
}

.edit-profile {
    display: flex;
    align-content: center;
    justify-content: space-between;
    z-index: -1;

    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0px;
}

.img-edit-profile {
    height: 200px;
    width: 200px;

    z-index: -1;
    display: block;

    left: 0;
    right: 0;
    margin: auto;

    overflow:hidden;
    border-radius: 20px 20px 20px 20px;
}

.img-edit-profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.edit-profile-container {
    margin-bottom: 40px;
}

.change-photo {
    width: 120px;
    z-index: -1;

    left: 0;
    right: 0;
    margin: auto;
}

.edit-profile-label {
    display: block;
    color: #FFFFFF;

    font-size: 16pt;
    font-weight: 500;

    margin-bottom: 20px;
    margin-right: 10px;
}

.edit-profile-input {
    margin-bottom: 20px;
    height: 30px;

    margin-top: 10px;
    font-size: 16pt;

    color: #FFFFFF;
    background-color: transparent;
    
    border-color: #C0C0C0;

    border-radius: 4px 4px 4px 4px;
    border-width: 2px;
}

.edit-profile-input::placeholder {
    font-size: 12pt;
    color: #C0C0C0;
}

.emty-container {
    height: 285px;
}

.button-exit-edit {
    display: block;
    width: 120px;
    height: 40px;

    margin-left: 340px;
    margin-top: -40px;
    margin-bottom: 50px;

    background-color: #F03226;
    color: #FFFFFF;

    border: none;
    border-radius: 4px 4px 4px 4px;

    box-shadow: 0px 10px 20px rgba(255,0,0, .2);
}

.button-exit-edit:hover:active {
    background-color: #780000;
}

.button-exit-edit:hover {
    background-color: #C20000;
}

.error-msg {
    color: #F03226;

    font-size: 12pt;
    font-weight: 300;

    filter: contrast(100%);
    -webkit-filter: contrast(70%);
}

.password {
	position: relative;
}

.password-control {
    position: absolute;
    
    top: 18px;
    margin: auto;
	right: 6px;

    display: inline-block;
    
	width: 20px;
	height: 20px;

    fill: #FFFFFF;
	background: url(/static/images/site/view-white.svg) 0 0 no-repeat;
}

.password-control.view {
	background: url(/static/images/site/no-view-white.svg) 0 0 no-repeat;
}

.bonuses-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;

    grid-column-gap: 2vw;
    grid-row-gap: 2vw;

    width: auto;
    height: auto;
}

.product-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 0;
    margin-right: 0;

    background-color: #FFFFFF;
    
    border: none;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;

    height: 100%;
}

.img-product {
    height: 50%;
    width: 100%;

    display: block;

    background-position: center center;
    background-repeat: no-repeat;

    margin-top: 0;

    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}

.img-product img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.name-product {
    font-size: 1.5vw;
    
    height: auto;

    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;

    text-align: center;
    color: #000000;
}

.cost-product {
    font-size: 1.5vw;

    margin-top: 4%;
    
    text-align: center;
    color: #F03226;
}

.button-product-buy {
    color: #FFFFFF;
    background-color: #F03226;

    display: block;

    width: 50%;
    height: 10%;

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;

    font-size: 1vw;

    border: none;
    border-radius: 4px 4px 4px 4px;

    box-shadow: 0px 10px 20px rgba(255,0,0, .2);
}

.button-product-buy:hover:active {
    background-color: #780000;
}

.button-product-buy:hover {
    background-color: #C20000;
}

.process {
    color: #FFFFFF;
    background-color: #C0C0C0;

    display: block;

    width: 50%;
    height: 10%;

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;

    font-size: 1vw;

    border: none;
    border-radius: 4px 4px 4px 4px;

    box-shadow: 0px 10px 20px rgba(192, 192, 192, .2);
}

.clip-products-container {
    display: flex;
    justify-content: space-between;

    margin-right: 200px;
    margin-top: 60px;
    margin-left: auto;
    margin-bottom: 100px;

    float: right;
}

.clip-button {
    width: 40px;
    height: 40px;

    margin-left: 10px;

    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);

    text-align: center;
    vertical-align: middle;

    font-size: 16pt;

    border: none;
    border-radius: 4px 4px 4px 4px;
}

.clip-button:hover:active {
    background-color: rgba(255, 255, 255, 0.75);
}

.clip-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.this-page {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.sorting-button {
    display: block;

    width: 280px;
    height: 30px;

    margin: auto;

    margin-top: 120px;

    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);

    text-align: center;

    font-size: 16pt;

    border: none;
    border-radius: 4px 4px 4px 4px;
}

.sorting-button:hover:active {
    background-color: rgba(255, 255, 255, 0.75);
}

.sorting-button:hover {
    background-color: rgba(255, 255, 255, 0.50);
}

.background {
    position: absolute;
    -webkit-filter: url("#goo");
            filter: url("#goo");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background-purchases {
    -webkit-filter: url("#goo");
            filter: url("#goo");
    width: 100%;
    height: 100%;
}
  
.loader {
    -webkit-filter: url("#goo");
            filter: url("#goo");
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: calc(50% - 4rem / 2);
    left: calc(50% - 4rem / 2);
    background: #2E86FF;
    border-radius: 2rem;
}

.loader-left {
    -webkit-animation: rotateLeft 2s ease-in-out infinite, color 2s ease-in-out infinite;
    animation: rotateLeft 2s ease-in-out infinite, color 2s ease-in-out infinite;
}

.loader-right {
    -webkit-animation: rotateRight 2s ease-in-out infinite, color 2s ease-in-out infinite;
    animation: rotateRight 2s ease-in-out infinite, color 2s ease-in-out infinite;
}

@-webkit-keyframes rotateLeft {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: -50% -50%;
        transform-origin: -50% -50%;
    }
}

@keyframes rotateLeft {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: -50% -50%;
        transform-origin: -50% -50%;
    }
}

@-webkit-keyframes rotateRight {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: 150% 150%;
        transform-origin: 150% 150%;
    }
}

@keyframes rotateRight {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: 150% 150%;
        transform-origin: 150% 150%;
    }
}

@-webkit-keyframes color {
    0% {
        background: #F03226;
    }
    50% {
        background: #FFFFFF;
    }
    100% {
        background: #F03226;
    }
}

@keyframes color {
    0% {
        background: #F03226;
    }
    50% {
        background: #FFFFFF;
    }
    100% {
        background: #F03226;
    }
}

.development-page-info {
    display: block;

    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;

    text-align: center;

    font-size: 50pt;

    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);
}

.list-purchases-container {
    display: flex;
    flex-direction: column;

    margin-top: 30px;

    margin-left: 200px;
    margin-right: 200px;

    width: auto;
    height: auto;

    font-size: 16pt;
}

.purchase-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    justify-items: center;
    align-items: center;

    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;

    width: auto;

    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);

    font-size: 16pt;

    border: none;
    border-radius: 4px 4px 4px 4px;
}

.purchase {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;

    background-color:#FFFFFF;
    margin-bottom: 20px;

    font-size: 16pt;
    height: 50px;

    border: none;
    border-radius: 25px 25px 25px 25px;
}

.round-red-number {
    justify-self: left;
    display: flex;

    border-radius: 25px 25px 25px 25px;

    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background-color: #F03226;
}

.purchase-bar__number {
    justify-self: left;
    margin-left: 10px;
}

.purchase-bar__name {
    justify-self: left;
    word-wrap: break-word;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    display: grid;
    
    grid-template-columns: 80px auto 40px;
    grid-template-rows: repeat(2, 1fr);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    justify-self: end;
    align-self: flex-start;

    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;

    color: #FFFFFF;
    background-color: #F03226;
}

.close-button:hover:active {
    background-color: #780000;
}

.close-button:hover {
    background-color: #C20000;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.logo-toggle-modal {
    height: 80px; 
    padding-right: 10px;
}

#text {
    font-size: 16pt;
    font-weight: 300;

    color: #000000;
}

#text-answer {
    font-size: 16pt;
    font-weight: 300;

    color: #000000;
}

#confirm {

    align-self: flex-end;

    height: 30px;
    width: 120px;

    background-color: #2EB837;
    color: #FFFFFF;

    border: none;
    border-radius: 4px 4px 4px 4px;
}

#confirm:disabled {
    background-color: #C0C0C0;
}

#confirm:disabled:hover {
    background-color: #C0C0C0;
}

#confirm:disabled:active {
    background-color: #C0C0C0;
}

#confirm:hover:active {
    background-color: #001d02;
}

#confirm:hover {
    background-color: #007e08;
}

.error-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 300px;
    height: 300px;
}

.error-img {
    height: 100px;
    margin-bottom: 20px;
}

.error-status {
    font-size: 24pt;
    margin-bottom: 20px;
}

.error-message {
    font-size: 18pt;
    font-weight: 300;
    margin-bottom: 20px;
}

.error-info-mail {
    color: #999999;
    font-size: 10pt;
}  

.nav-logo {
    text-decoration: none;
}

.year-mounth {
    color: #FFFFFF;

    margin-top: 100px;
    margin-left: 200px;

    font-size: 4vh;
}
.shedule {
    display: grid;

    grid-template-columns: 85% 14%;

    justify-content: space-between;

    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}

.weeks-day-container {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);

    align-items: center;
    justify-content: center;

    font-size: 2.5vh;
    text-align: center;

    color: #FFFFFF;
    background-color: #424242;

    border: solid 1px #DDDDDD;
    border-radius: 10px 10px 0 0;
}

.work-day {
    border-right: solid 1px #DDDDDD;
}

.work-day:nth-child(5) {
    border: none;
}

.free-day {
    color: #C20000;
    border-left: solid 1px #DDDDDD;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

    border-radius: 10px 10px 10px 10px;

    width: 100%;

    grid-row-start: 2;
}

.calendar > * {
    background-color: #FFFFFF;
    border: solid 1px #DDDDDD;
}

.calendar-day {
    display: flex;

    align-items: center;
    flex-direction: column;

    height: 100%;
}

.calendar-day .circle-shedule {
    width: 2vh;
    height: 2vh;
    border-radius: 2vh;
}

.calendar:hover .calendar-day {
    transition-duration: .5s;
    filter: contrast(90%);
}

.calendar .calendar-day:hover {
    transform: scale(1.1);
    transition-duration: .5s;

    border-radius: 10px;
    
    z-index: 1;

    border: solid 1px #DDDDDD;

    filter: contrast(110%);
}

.calendar-free {
    background-color: #C2FFD3;
}

.calendar-not-this-month {
    background-color: #DDDDDD;
}

.calendar-holiday {
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    background-image: url(/static/images/site/holiday.png);
}

.number-calendar-day {
    position: absolute;
    margin-left: 5px;
    
    justify-self: left;
    align-self: flex-start;
    text-align: start;

    width: 1vw;

    color: #777777;

    font-size: 2.1vh;
}

.working-hours-container {
    display: grid;
    grid-template-columns: repeat(2, auto);

    column-gap: 3px;
    row-gap: 1.3vh;

    align-items: center;
    justify-content: center;

    margin-top: auto;
    margin-bottom: auto;
}

.work {
    grid-column-start: 1;
    grid-column-end: 3;
}

.working-hours {
   font-size: 2vh;
   text-align: end;
}

.info-shedule-panel {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    border-radius: 10px;

    background-color: #FFFFFF;

    grid-row-start: 1;
    grid-row-end: 3;
}

.info-time-shedule {
    display: grid;
    align-items: center;
    justify-content: center;
    
    width: 90%;

    margin-top: 20px;
    padding-bottom: 30%;

    row-gap: 3vh;
    column-gap: 1vh;

    grid-template-columns: repeat(2, auto);

    border-bottom: solid 3px #C0C0C0;

    font-size: 2.5vh;
    font-weight: 300;

    text-align: start;
}

.circle-shedule {
    width: 3.3vh;
    height: 3.3vh;
    border-radius: 3.3vh;
}

.circle-shedule-gray { 
    border: solid 1px #8b8b8b;
}

.circle-shedule-red {
    border: solid 1px #C20000;
}

.circle-shedule-green {
    border: solid 1px #2EB837;
}

.circle-shedule-free {   
    border: solid 1px #C2FFD3;
    background: #C2FFD3;
}

.shedule-button {
    margin-top: auto;
    margin-bottom: 20px;

    width: 90%;
    height: 6vh;
    border: none;

    color: #FFFFFF;

    font-size: 1vw;

    border-radius: 4px;
}

.shedule-button-red {
    background-color: #F03226;
    box-shadow: 0px 10px 20px rgba(240, 50, 38, .5);
}

.shedule-button-red:hover {
    background-color: #C20000;
}

.shedule-button-red:active {
    background-color: #780000;
}

.circle-shedule-holiday {
    background-color: #FFFFFF;
    background-position: center;
    background-size: 220%;

    background-image: url(/static/images/site/holiday.png);

    filter: saturate(1000%);
}