{% extends 'alfastaff-products/start_template.html' %}
{% load static %}

{% block context %}
<body class="body-products">
    <header class="header">
        <span>
            <a class="nav-logo" href="{% url 'products' %}">
                <img class="logo-img-red" src="{% static "images/site/incognita.png" %}">
            </a>
        </span>
        <span>
            <a class="nav-logo" href="{% url 'products' %}">
                <label class="logo-text-red">Lorem·ipsum</label>
            </a>
        </span>

        <a class="nav-panel" href="{% url 'products' %}">КАТАЛОГ</a>
        <a class="nav-panel" href="{% url 'shedule' %}">РАСПИСАНИЕ</a>
        <a class="nav-panel" href="{% url 'purchases' %}">ИСТОРИЯ ПОКУПОК</a>
        {% if user.profile.role == 1 %}Без назначения
            <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
        {% endif %}
        <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
    </header>
    <button class="sorting-button" id="sorting_button"> Сортировать по цене </button>
    <div class="products-container" id="products_container">
    </div>
    <div class="clip-products-container">
        {% for i in count_page %}
            <button class="clip-button num" id="{{i}}">
                {{i}}
            </button>
        {% endfor %}
    </div>

    <div class="modal">
        <div class="modal-content">
            <img class="logo-toggle-modal" src="{% static "images/site/incognita.png" %}">
            <label id="text"></label>
            <span class="close-button">&times;</span>
            <button id="confirm">Подтвердить</button>
        </div>
    </div>

    <div class="modal modal-answer">
        <div class="modal-content">
            <img class="logo-toggle-modal" src="{% static "images/site/incognita.png" %}">
            <label id="text-answer"></label>
            <span class="close-button close-button-answer">&times;</span>
        </div>
    </div>

</body>
<script src="{% static "js/alfastaff-products/spa_controller_products.js" %}"></script>
{% endblock%}