{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Alfastaff
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="icon" href="{% static "images/site/incognita.png" %}" type="image/png">
    </head>
    <body class="body-shedule">
        <header class="header">
            <span>
                <a class="nav-logo" href="{% url 'bonuses' %}">
                    <img class="logo-img-red" src="{% static "images/site/incognita.png" %}">
                </a>
            </span>
            <span>
                <a class="nav-logo" href="{% url 'bonuses' %}">
                    <label class="logo-text-red">Lorem·ipsum</label>
                </a>
            </span>

            <a class="nav-panel" href="{% url 'bonuses' %}">КАТАЛОГ</a>
            <a class="nav-panel" href="{% url 'shedule' %}">РАСПИСАНИЕ</a>
            <a class="nav-panel" href="{% url 'purchases' %}">ИСТОРИЯ ПОКУПОК</a>
            {% if user.profile.role == 1 %}
                <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
            {% endif %}
            <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
        </header>
    <div class="shedule">
        <div class="calendar">
            <div class="week-day">
                {% for i in 12345|make_list %}
                    <label>{{ i }}</label>
                {% endfor %}
                {% for i in 67|make_list %}
                    <label class="free-day">{{ i }}</label>
                {% endfor %}
            </div>

            

            {% for i in 1234567123456712345671234567123456|make_list %}
            <div class="calendar-day">
                <label class="number-calendar-day">{{ i }}</label>
                <div class="working-hours-container">
                    <div class="working-hours work">08:30 - 17:30</div>
                    <div class="working-hours dinner">12:30 - 13:00</div>
                    <div class="working-hours time-break">15:00 - 15:15</div>
                </div>
                
            </div>
            {% endfor %}

            <div class="calendar-day calendar-free">
                <label class="number-calendar-day">7</label>
                <div class="working-hours-container">
                    <div class="working-hours work">08:30 - 17:30</div>
                    <div class="working-hours dinner">12:30 - 13:00</div>
                    <div class="working-hours time-break">15:00 - 15:15</div>
                </div>
                
            </div>
        </div>
    
        <aside class="info-shedule-panel">
            <div>
                <label>1</label>
                <label>2</label>
                <label>3</label>
            </div>
            <div>
                <button class="shedule-button">
                </button>
                <button class="shedule-button">
                </button>
            </div>
        </aside>
    </div>
    </body>
    <script src="{% static "js/alfastaff-bonuses/visual_effects.js" %}"></script>
</html>