{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Alfastaff
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="icon" href="{% static "images/site/incognita.png" %}" type="image/png">
    </head>
    <body class="body-shedule">
        <header class="header">
            <span>
                <a class="nav-logo" href="{% url 'products' %}">
                    <img class="logo-img-red" src="{% static "images/site/incognita.png" %}">
                </a>
            </span>
            <span>
                <a class="nav-logo" href="{% url 'products' %}">
                    <label class="logo-text-red">Lorem·ipsum</label>
                </a>
            </span>

            <a class="nav-panel" href="{% url 'products' %}">КАТАЛОГ</a>
            <a class="nav-panel" href="{% url 'shedule' %}">РАСПИСАНИЕ</a>
            <a class="nav-panel" href="{% url 'purchases' %}">ИСТОРИЯ ПОКУПОК</a>
            {% if user.profile.role == 1 %}
                <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
            {% endif %}
            <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
        </header>
        <div class="year-mounth">июнь 2020</div>

        <div class="shedule">
            <div class="weeks-day-container">
                {% for i in 12345|make_list %}
                    <label class="work-day">{{ i }}</label>
                {% endfor %}
                {% for i in 67|make_list %}
                    <label class="free-day">{{ i }}</label>
                {% endfor %}
            </div>
            <div class="calendar">
                <div class="calendar-day calendar-not-this-month">
                    <label class="number-calendar-day">1</label>
                </div>

                {% for i in 2345671234567123456712345671234|make_list %}
                <div class="calendar-day">
                    <label class="number-calendar-day">{{ i }}</label>
                    <div class="working-hours-container">
                        <div class="working-hours work">08:30 - 17:30</div>

                        <div class="circle-shedule circle-shedule-red"></div>
                        <div class="working-hours">12:30 - 13:00</div>

                        <div class="circle-shedule circle-shedule-green"></div>
                        <div class="working-hours">15:00 - 15:15</div>
                    </div>
                    
                </div>
                {% endfor %}

                <div class="calendar-day calendar-holiday">
                    <label class="number-calendar-day">5</label>
                    <div class="working-hours-container">
                        <div class="working-hours work">08:30 - 17:30</div>

                        <div class="circle-shedule circle-shedule-red"></div>
                        <div class="working-hours">12:30 - 13:00</div>

                        <div class="circle-shedule circle-shedule-green"></div>
                        <div class="working-hours">15:00 - 15:15</div>
                    </div>
                    
                </div>

                <div class="calendar-day calendar-free">
                    <label class="number-calendar-day">{{ 6 }}</label>
                    <div class="working-hours-container">
                        <div class="working-hours work">08:30 - 17:30</div>

                        <div class="circle-shedule circle-shedule-red"></div>
                        <div class="working-hours">12:30 - 13:00</div>

                        <div class="circle-shedule circle-shedule-green"></div>
                        <div class="working-hours">15:00 - 15:15</div>
                        <div class="circle-shedule circle-shedule-green"></div>
                        <div class="working-hours">15:00 - 15:15</div>
                    </div>
                    
                </div>

                <div class="calendar-day calendar-not-this-month">
                    <label class="number-calendar-day">5</label>
                </div>
            </div>
        
            <aside class="info-shedule-panel">
                <div class="info-time-shedule">
                    <div class="circle-shedule circle-shedule-red"></div>
                    <label> - обед</label>
                    <div class="circle-shedule circle-shedule-green"></div>
                    <label> - перерыв</label>
                </div>

                <div class="info-time-shedule">
                    <div class="circle-shedule circle-shedule-free"></div>
                    <label> - выходной</label>
                    <div class="circle-shedule circle-shedule-holiday"></div>
                    <label> - праздник</label>
                </div>
                <button class="shedule-button shedule-button-red" id="send">Оставить отзыв</button>
            </aside>

        </div>
            <div class="modal">
            <div class="modal-content">
                <img class="logo-toggle-modal" src="{% static "images/site/incognita.png" %}">
                <label id="text"></label>
                <input type="textarea" placeholder="Отзыв о вашем расписании" id="review-text"/>
                <span class="close-button">&times;</span>
                <button id="review">Подтвердить</button>
            </div>
        </div>

        <div class="modal modal-answer">
            <div class="modal-content">
                <img class="logo-toggle-modal" src="{% static "images/site/incognita.png" %}">
                <label id="text-answer"></label>
                <span class="close-button close-button-answer">&times;</span>
            </div>
        </div>
    </body>
    <script src="{% static "js/alfastaff-shedule/controller_shedule.js" %}"></script>
    <script src="{% static "js/alfastaff-bonuses/visual_effects.js" %}"></script>
</html>