{% extends 'alfastaff-bonuses/start_template.html' %}
{% load static %}

{% block context %}
<body class="body-bonuses">
    <header class="header">
        <span>
            <img class="logo-img-red" src="{% static "images/site/alfa-logo-red.svg" %}">
        </span>
        <span>
            <label class="logo-text-red">Альфа·Персонал</label>
        </span>

        <a class="nav-panel" href="{% url 'bonuses' %}">КАТАЛОГ</a>
        <a class="nav-panel" href="#">РАСПИСАНИЕ</a>
        {% if user.profile.role == 1 %}
            <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
        {% endif %}
        <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
    </header>
    <button class="sorting-button"> Сортировать по цене </button>
    <div class="bonuses-container">
        {% for i in '01234567'|make_list %}
        <article class="product-article">
            <div class="img-product">
                <img src="{% static "images/site/test_product.png" %}">
            </div>
            <div class="name-product">
                <label>Кружка</label>
            </div>
            <div class="cost-product">
                <label>200 бонусов</label>
            </div>
            <button class="button-product-buy">Купить</button>
        </article>
        {% endfor %}
    </div>
    <div class="clip-products-container">
        <button class="clip-button">
            <label><<</label>
        </button>
        {% for i in '12345'|make_list %}
        <button class="clip-button">
            <label>{{i}}</label>
        </button>
        {% endfor %}
        <button class="clip-button">
            <label>>></label>
        </button>
    </div>
</body>
{% endblock%}