{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div style="font-size: 20pt;">
        <label>{{ user.profile.first_name }} {{ user.profile.second_name }} {{ user.profile.middle_name }}</label>
    </div>
    <div style="font-size: 14pt;">
        <label>Почта: {{ user.email }}</label>
    </div>
    <div style="font-size: 18pt;">
        <label>Оформил заявку на {{ bonus.name }} со стоимостью {{ bonus.cost }}</label>
    </div>
    <div style="font-size: 16pt;">
        <label>Дата оформления заявки: {{ time }}</label>
    </div>
    <div>
        <img src="cid:{{ bonus_image }}">
    </div>
</body>
</html>