{% extends 'alfastaff-bonuses/start_template.html' %}
{% load static %}

{% block context %}
<body class="body-profile">
    <header class="header">
        <span>
            <img class="logo-img-red" src="{% static "images/alfa-logo-red.svg" %}">
        </span>
        <span>
            <label class="logo-text-red">Альфа·Персонал</label>
        </span>

        <a class="nav-panel" href="{% url 'bonuses' %}">КАТАЛОГ</a>
        <a class="nav-panel" href="#">РАСПИСАНИЕ</a>
        {% if user.profile.role == 1 %}
            <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
        {% endif %}
        <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
    </header>
    
    <div class="back-profile-top"></div>
    <div class="back-profile-bottom"></div>
    <div class="edit-profile">
        <form method="POST" action="{% url 'edit_profile' %}">
            {% csrf_token %}
            <div class="edit-profile-container">
                <img class="img-edit-profile" src="/static/images/pofile_photo.png">
                <div class="change-photo">
                    <div class="input-edit-photo">
                        <label>
                            <input style="display: none;" type="file" name="file">
                            Загрузить фотографию
                        </label>
                    </div>
                   
                </div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th align="left">
                            <label class="edit-profile-label">Фамилия:</label>
                        </th>
                        <th align="left">
                            <input class="edit-profile-input" type="text">
                        </th>
                    </tr>
                    <tr>
                        <th align="left">
                            <label class="edit-profile-label">Имя:</label>
                        </th>
                        <th align="left">
                            <input class="edit-profile-input" type="text">
                        </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <label class="edit-profile-label">Отчество:</label>
                            </th>
                            <th>
                                <input class="edit-profile-input" type="text">
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <label class="edit-profile-label">Email:</label>
                            </th>
                            <th align="left">
                                <input class="edit-profile-input" type="text">
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <label class="edit-profile-label">Должность:</label>
                            </th>
                            <th align="left">
                                <input class="edit-profile-input" type="text">
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <label class="edit-profile-label">Отдел:</label>
                            </th>
                            <th align="left">
                                <input class="edit-profile-input" type="text">
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <label class="edit-profile-label">Телефон:</label>
                            </th>
                            <th align="left">
                                <input class="edit-profile-input" type="text">
                            </th>
                        </tr>
                </tbody>
            </table>
            <button class="button-edit-profile">Сохранить</button>
        </form>

        <form method="POST" action="{% url 'edit_password' %}">
            {% csrf_token %}
            <table>
                <div class="emty-container">
                </div>
                <tbody>
                    <tr>
                        <th align="left">
                            <label class="edit-profile-label">Новый пароль:</label>
                        </th>
                        <th>
                            <input class="edit-profile-input" type="password" name="password1" id="password1">
                        </th align="left">
                    </tr>
                    <tr>
                        <th>
                            <label class="edit-profile-label">Повторите пароль:</label>
                        </th>
                        <th align="left">
                            <input class="edit-profile-input" type="password" name="password2" id="password2">
                        </th>
                    </tr>
                </tbody>
            </table>
            {% if error %}
                <div class="error-msg"><p>Проверьте введенный вами пароль.</p></div>
            {% endif %}
            <div>
                <button class="button-edit-profile">Сменить</button>
            </div>
        </form>
    </div>
    <a href="{% url 'profile' %}"><button class="button-exit-edit">Отмена</button>
    
</body>
{% endblock%}