{% extends 'alfastaff-bonuses/start_template.html' %}
{% load static %}

{% block context %}
<body class="body-profile">
    <header class="header">
        <span>
            <img class="logo-img-red" src="{% static "images/alfa-logo-red.svg" %}">
        </span>
        <span>
            <label class="logo-text-red">Альфа·Персонал</label>
        </span>

        <a class="nav-panel" href="{% url 'bonuses' %}">КАТАЛОГ</a>
        <a class="nav-panel" href="#">РАСПИСАНИЕ</a>
        <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
        <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
    </header>
</body>>
<div>Purcheses</div>
{% endblock%}