{% extends 'alfastaff-bonuses/start_template.html' %}

{% block context %}

<div class="back-profile-top">
    <table class="profile-info-container">
        <tbody>
            <tr>
                <th align="left">
                    <label class="profile-fullname">Сервук</label>
                </th>
                <th align="left">
                    <label class="profile-fullname">Елизавета</label>
                </th>
                <th align="left">
                    <label class="profile-fullname">Андреевна</label>
                </th>
            </tr>
            <tr>
                <th colspan="3" align="left">
                    <label class="profile-contact">sevruk@gmail.com</label>
                </th>
            </tr>
        </tbody>
    </table>
    
    <table class="profile-bonus-container">
        <tbody>
            <tr>
                <th align="right">
                    <label class="profile-bonus">БОНУСЫ</label>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <label class="profile-bonus-count">1300</label>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="back-profile-bottom">
    <div class="profile-info-container">
        <label class="profile-additional-info">
            Должность: <label class="profile-additional-info-value">оператор</label></label>
        <label class="profile-additional-info">
            Отдел: <label class="profile-additional-info-value">call-center</label></label>
        <label class="profile-additional-info">
            Телефон: <label class="profile-additional-info-value">+375336087521</label></label>
        <label class="profile-additional-info">
            Статус: <label class="profile-additional-info-value">в отпуске до 25.07.2020</label></label>
    </div>
    <div class="profile-button-container">
        <button class="button-list-purchases">Список покупок</button>
        <button class="button-edit-profile">Редактировать</button>
        <button class="button-login-register">Выйти</button>
    </div>
</div>

<img class="img-profile" src="/static/images/pofile_photo.png">

{% endblock%}