{% extends 'alfastaff-bonuses/start_template.html' %}
{% load static %}

{% block context %}
<body class="body-profile">
    <header class="header">
        <span>
            <img class="logo-img-red" src="{% static "images/site/alfa-logo-red.svg" %}">
        </span>
        <span>
            <label class="logo-text-red">Альфа·Персонал</label>
        </span>

        <a class="nav-panel" href="{% url 'bonuses' %}">КАТАЛОГ</a>
        <a class="nav-panel" href="{% url 'shedule' %}">РАСПИСАНИЕ</a>
        {% if user.profile.role == 1 %}
            <a class="nav-panel nav-admin" href="admin/">АДМИН ПАНЕЛЬ</a>
        {% endif %}
        <a class="nav-panel nav-profile" href="{% url 'profile' %}">ПРОФИЛЬ</a>
    </header>
<div class="back-profile-top">
    <table class="profile-info-container">
        <tbody>
            <tr>
                <th align="left">
                    <label class="profile-fullname">{{ user.profile.first_name }}</label>
                </th>
                <th align="left">
                    <label class="profile-fullname">{{ user.profile.second_name }}</label>
                </th>
                <th align="left">
                    <label class="profile-fullname">{{ user.profile.middle_name }}</label>
                </th>
            </tr>
            <tr>
                <th colspan="3" align="left">
                    <label class="profile-contact">{{ user.email }}</label>
                </th>
            </tr>
        </tbody>
    </table>
    
    <table class="profile-bonus-container">
        <tbody>
            <tr>
                <th align="right">
                    <label class="profile-bonus">БОНУСЫ</label>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <label class="profile-bonus-count">{{ user.profile.points }}</label>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="back-profile-bottom">
    <div class="profile-info-container">
        <label class="profile-additional-info">
            Должность: <label class="profile-additional-info-value">{{ user.profile.position }}</label></label>
        <label class="profile-additional-info">
            Отдел: <label class="profile-additional-info-value">{{ user.profile.department }}</label></label>
        <label class="profile-additional-info">
            Телефон: <label class="profile-additional-info-value">{{ user.profile.number_phone }}</label></label>
        <label class="profile-additional-info">
            Статус: <label class="profile-additional-info-value">{{ user.profile.status }}</label></label>
    </div>
</div>

<div class="img-profile">
    <img src="{{ user.profile.avatar.url }}">
</div>

<div class="profile-button-container">
    <a href="{% url 'list_purchases' %}"><button class="button-list-purchases">Список покупок</button></a>
    <a href="{% url 'edit' %}"><button class="button-edit-profile">Редактировать</button></a>
    <a href="{% url 'logout' %}"><button class="button-login-register">Выйти</button></a>
</div>
</body>
{% endblock%}