{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Alfastaff
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="icon" href="{% static "images/site/incognita.png" %}" type="image/png">
</head>
    {% block context %}
    {% endblock %}
    <script src="{% static "js/alfastaff-bonuses/visual_effects.js" %}"></script>
</html>