<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="font-size: 20pt;">
        <label>Здравствуйте {{ user.email }}!</label>
    </div>
    <div style="font-size: 14pt;">
        <label>Спасибо за регистрацию! Перейдите по ссылке для подтверждения</label>
    </div>
    <div style="font-size: 14pt;">
        <label>http://{{ domain }}{% url 'activate' uidb64=uid token=token %}</label>
    </div>
</body>
</html>