{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Alfastaff
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
    <body class="body-start">
        <header class="header-login-register">
            <img src="/static/images/alfa-logo.svg">
            <label>Альфа·Персонал</label>
        </header>
        
       
    </body>
    <script src="{% static "js/spa_controller.js" %}"></script>
</html>